################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/appsettings.json

# Ignore Visual Studio files
.vs/
*.user
*.suo

# Ignore build directories
bin/
obj/

# Ignore local databases
*.db

# Ignore logs
*.log

# Ignore other system files
.DS_Store
Thumbs.db
